

$maxWidthContainer: 1660 + 30;

$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;


$body-bg: #0f0f0f;
$main-color: #FFFFFF;
$red-color: #ff0000;
$border-radius: 30px;


$white: #fff;
$black: #000;

$header-height: 125px;
$header-shrink-height: 80px;
$box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;

$font-family: "Montserrat", sans-serif;